body {
  padding: 0px;
  margin: 0px;
  background-color: #f8f9fa;
}

:root {
  --green-color: #52b788;
  --purple-color: #9d4edd;
  --dark-grey: #1c1c21;
  --light-grey: #ced4da;
  --grey: rgba(0, 0, 0, 0.6);
   
}
